:root {
  --text: #f7f7f7;
  --background: #0f0f0f;
  --primary: #faab00;
  --secondary: #171717;
  --accent: #7d7d7d;
}

body {
  background-color: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  width: 100dvw;
  color: var(--text);
}
nav {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}


.container {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  padding-left: 150px;
  padding-right: 150px;
  min-width: 375px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}


.anime-card {
  .anime-card__cover {
    width: 185px;
    height: 265px;
    border-radius: 4px;
    margin-bottom: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  & a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}

.grid {
  display: grid;
  grid-gap: 30px 12px;
  grid-template-columns: repeat(auto-fill, 185px);
  justify-content: space-between;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(103px, 3fr));
    grid-gap: 28px 12px;
    padding: 0 20px;
  }

  .anime-card {
    .anime-card__cover {
      width: 103px;
      height: 158px;
    }
  }
}


#confirm {
  color: greenyellow;
  margin-left: 60px;
  margin-top: 8px;
}


.nav-profile {

  color: var(--primary);
  display: flex;
  align-items: center;
  .nav-profile__image {
    margin: 20px 10px;
    width: 30px;
    border: 4px var(--primary) solid;
    border-radius: 50%;

}

.logout {
  color: var(--text);
  margin: 0 0 0 10px;

}
}

.grid-2 {
  
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 2fr) ;
}

.description {

  margin: 0 20px;
 
}

label {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--primary);
}
.watchlist-dropdown {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 30px;
}

h1 {
  font-size: 3em;

  font-family: 'Josefin Sans';
  font-weight: 700;
  color: var(--primary);
}
.fold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  height: 265px;
}


.join {
  & a {

    &:hover {
      text-decoration: underline;
    }
    text-decoration: none;
  }

  
  cursor: pointer;
  font-weight: 700;
  padding: 10px 40px;
}

.grid-3 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

input {
  margin: 6px 0;
}

.watchlist__img {
  width: 100px;

}

.grid-4 {
  display: flex;
  .anime-card {
    width: 100px;
    margin: 0 8px;
    font-size: smaller;
    font-weight: 700;
  }

}

h2 {
  color:var(--primary)
}