<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">


    <title>{% block title %}
        Anibook: Discover and engage with anime content, create watchlists, and make new friends.
        {% endblock title %}</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div id="logo">
                    {% block logo_img %}
                    <a href="/"><img src="{{url_for('static', filename='images/logo_white.svg')}}"
                            alt="anibook-logo"></a>

                    {% endblock logo_img %}

                </div>

                <div class="navlinks-container">
                    {% block navlinks_container %}

                    {% if current_user.is_authenticated %}

                    <div class="nav-profile">
                        <div><img src="{{url_for('static', filename='images/profile_image.png')}}" alt=""
                                class="nav-profile__image"></div>
                        <div class="nav-profile__username"><a href="/profile/{{current_user.username}}">{{
                                current_user.username }}</a></div>
                        <div class="logout"><a href="/logout">Logout</a></div>
                    </div>

                    {% else %}
                    <a href="/login">Login</a>
                    <a href="/signup">Sign up</a>
                    {% endif %}



                    {% endblock navlinks_container %}

                </div>


            </nav>
        </header>

        <main>
            {% block main %}

            {% endblock main %}

        </main>

    </div>
    <script src="{{ url_for('static', filename='js/node_modules/htmx.org/dist/htmx.min.js') }}"></script>
</body>

</html>