<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/ebb4tph.css">
    <link rel="stylesheet" href="../static/css/base.css">

    <title>{% block title %}
        Anibook: Discover and engage with anime content, create watchlists, and make new friends.
        {% endblock title %}</title>
</head>

<body>

    <header>
        <nav>
            <div id="logo">
                {% block logo_img %}
                <img src="../static/images/logo_black.svg" alt="anibook-logo">
                {% endblock logo_img %}

            </div>

            <div class="navlinks-container">
                {% block navlinks_container %}
                {% endblock navlinks_container %}

            </div>


        </nav>
    </header>

    <main>
        {% block main %}

        {% endblock main %}

    </main>

</body>

</html>