{% extends 'base.html' %}



{% block navlinks_container %}
<a href="/login">Login</a>
<a href="/signup">Sign up</a>
{% endblock navlinks_container %}

{% block main %}


<div>
    <h1>Connect with like-minded anime enthusiasts</h3>
        <h3>Discover and engage with anime content, create watchlists, and make new friends.</h3>

        <button><a href="/signup">Join now</a></button>

        <h4>All Time Popular Anime</h4>

        <div class="grid">
            {% for anime in top_ranked_anime %}

            <div class="anime-card">
                <a href="/api/anime/{{anime.id}}/{{anime.title | replace(' ', '-') | replace(':', '') | trim}}"><img
                        class="anime-card__cover" src="{{ anime.main_picture_medium }}"
                        alt="{{ anime.title }} cover art"></a>
                <a class="custom-a"
                    href="/api/anime/{{anime.id}}/{{anime.title | replace(' ', '-') | replace(':', '') | trim}}"><span
                        class="anime-card__title">{{
                        anime.title
                        }}</span></a>
            </div>

            {% endfor %}

        </div>

</div>

{% endblock main %}