{% extends 'base.html' %}

{% block main %}


<div>
    <div class="fold">
        <h1>Connect with like-minded <br> anime enthusiasts</h3>

            <button class="join"><a href="/signup">Join now</a></button>

    </div>

    <h4>All Time Popular Anime</h4>

    <div class="grid">
        {% for anime in top_ranked_anime %}

        <div class="anime-card">
            <a
                href="/api/anime/{{anime.id}}/{{anime.title | replace(' ', '-') | replace('.', '')| replace(':', '')|trim}}"><img
                    class="anime-card__cover" src="{{ anime.main_picture_medium }}"
                    alt="{{ anime.title }} cover art"></a>
            <a class="custom-a"
                href="/api/anime/{{anime.id}}/{{anime.title | replace(' ', '-') | replace(':', '') | trim}}"><span
                    class="anime-card__title">{{
                    anime.title
                    }}</span></a>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock main %}