{% macro anime_details(route, verb, anime, current_user) %}

<h1>{{ anime.title }}</h1>
<img  hx-{{verb}}="{{ route }}"  src="{{ anime.main_picture_large }}" alt="{{ anime.title }} cover art">
<div class="watchlist-dropdown">
    <label for="watchlist">Mark as: </label>
    <select name="watchlist" class="watchlist-dropdown__select">
        <option value="" selected disabled></option>
        <option  value="completed">completed</option>
        <option  value="watching">watching</option>
        <option  value="backlogged">backlogged</option>
    </select>
</div>

{% endmacro %}